/*Resets*/
@import "normalize.css";

/*Site Wide Components*/
@import "variables.css";
@import "utilities.css";
@import "typography.css";
@import "header.css";
@import "footer.css";
@import "search.css";

/* Page Specific Components*/
@import "blog.css";
@import "gallery.css";
@import "tags.css";
@import "custom.css";

body {
  font-family: var(--font-base);
  word-wrap: break-word;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 50em;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 0 3rem;
  line-height: 1.8rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: var(--text-color);
}

article {
  flex: 1;
  margin-bottom: 2rem;
}

.highlight-handle {
  background: var(--text-color);
  border-radius: 4px;
  color: var(--white);
  padding: 4px 8px;
}

pre {
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}

hr {
  border: 0;
  height: 1px;
  margin: 2rem 0;
  background: var(--light-grey);
}

pre,
textarea {
  overflow: auto;
}

img {
  margin: 10px auto 10px auto;
  max-width: 100%;
  display: block;
}

a img {
  border: none;
}

figure {
  margin: 0;
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.site-name {
  color: var(--text-color);
}


@media (max-width: 900px) {
  body {
    padding: 0 2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }
}