.gallery {
  margin: 0;
  padding: 0;
  // list-style: none;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: flex-start;
  // justify-content: flex-start;
  // align-content: space-around;

}

.thumbnail {
  display: inline-block;
  width: 10rem;
  // Body has 1rem horizontal padding
  width: calc(100% / 5);

  a {
    display: inline-block;
    padding: 0.5rem;

    img {
      margin: 0;
      border-radius: var(--border-radius);
    }
  }
}

@media (max-width: 48rem) {
  .thumbnail {
    width: calc(100% / 4);
  }
}

@media (max-width: 36rem) {
  .thumbnail {
    width: calc(100% / 3);
  }
}

@media (max-width: 24rem) {
  .thumbnail {
    width: calc(100% / 2);

    a {
      padding: 0.25rem;
    }
  }
}