header {
  margin: 2rem 0;

  .top {
    display: flex;
    gap: 1em;
    margin-bottom: 2.5vw;


    .avatar {

      img {
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 100%;
      }
    }

    .details {

      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .site-description {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
        }


      }
    }

  }


  .links {
    line-height: 2.2rem;

    display: flex;

    a {
      text-decoration: none;
      flex: 0;
      padding: 0.25em;
      display: flex;

      &.active,
      &:hover {
        span.name {
          text-decoration: underline;
        }
      }

      span {
        flex: 0;

        &.emoji {
          padding-right: 0.25em;
        }
      }
    }
  }
}

header h1 {
  margin: 0;
  // line-height: 0.2rem;
}

footer {
  color: var(--subtle-text);

  a {
    color: var(--subtle-links);

    &:hover {
      color: var(--primary);
    }
  }
}

.social li,
.social ul {
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  list-style: none;
  margin: 0 30px 0 0;
}

.social a {
  color: var(--subtle-links);
}


.social nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}

.social ul svg {
  max-height: 15px;
}

nav {
  border-top: 1px solid var(--light-grey);
  padding-top: 1rem;
}

nav a {
  margin-right: 2vw;
}

@media (max-width: 900px) {
  .social li {
    margin: 0;
  }

  nav a {

    margin-right: 1vw;
  }

  header {
    margin: 1rem 0;
  }
}

@media (max-width: 500px) {

  header {

    .site-description p {
      font-size: 0.8em;
      ;
    }

  }
}