:root {
  --primary: #661fff;
  --red: red;
  --heading-color: #1a043b;
  --text-color: #3e3f4d;
  --text-color-alt: #303472;
  --bg-color: #f8f5f3;
  --black: #212529;
  --white: #fdfdfd;
  --dark-grey: #343334;
  --subtle-text: #777;
  --subtle-links: #4411aa;
  --light-grey: #ccc;
  --lighter-gray: #f6f6f6;
  --font-base: 'Georgia';
  --font-monospace: 'Courier New';
  --font-headings: 'Georgia';
  --border-radius: 0.5rem;
}