:root {
  --primary: #661fff;
  --red: red;
  --heading-color: #1a043b;
  --text-color: #3e3f4d;
  --bg-color: #f8f5f3;
  --black: #212529;
  --white: #fdfdfd;
  --dark-grey: #343334;
  --gray: #616060;
  --light-grey: #ccc;
  --lighter-gray: #f6f6f6;
  --font-base: 'Andada Pro', sans-serif;
  --font-monospace: menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace, serif;
  --font-headings: 'Andada Pro', sans-serif;
  --border-radius: 0.5rem;
}