{% extends "base.html" %}

{% block content %}
<h1>{{taxonomy.name | capitalize }} &raquo; {{ term.name | capitalize }}</h1>

{%  for year, posts in  term.pages | group_by(attribute="year")  %}
<ul class="posts flat">
    <h2 class="archive-year">{{ year }}</h2>
    {% for post in posts %}
    <li class="post">
      <div class="post-header">
        <div class="meta">
          <div class="date">
            <span class="day">{{ post.day }}</span>
            <span class="rest">{{ post.date | date(format='%b') }}</span>
          </div>
        </div>
        <div class="matter">
          <div class="title small">
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            {% if post.draft %}<span class="draft">(Draft)</span>{% endif %}
          </div>
          {{ hooks::posts_below_title(page=post) }} 
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}{% endblock content %}